@page "/ListadoUsuarios"

@using BlazorApp1.Data
@inject UsuarioService UsuarioService

<h3>Listado Usuarios</h3>

<p>Visualizador de los Usuarios</p>

@if (usuarios == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Pass</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in usuarios)
            {
                <tr>
                    <td>@user.UsuarioPK</td>
                    <td>@user.Nombre</td>
                    <td>@user.Clave</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Usuario> usuarios;

    protected override async Task OnInitializedAsync()
    {
        usuarios = UsuarioService.ListUser();
    }
}

